.tweet,
.tweet:focus,
.tweet:hover {
    border-radius: 2rem;
    text-decoration: none;
}

.textarea {
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    border-radius: 40;
    font-family: sans-serif;
    resize: none;
}

.btn {
    border-radius: 2rem;
}

.nav-links {
    top: 0;
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}

ul.nav li a,
ul.nav li a:visited {
    color: black !important;
}

.nav-link {
    padding: 1rem;
    color: black !important;
}